<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon-22x29.png</string>
				<string>Icon-44x58.png</string>
				<string>Icon-64x64.png</string>
				<string>Icon-320x320.png</string>
				<string>Icon-152x152.png</string>
				<string>Icon-120x120.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Werk</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
